*.pem
*.env
*.key

node_modules/
dist/
.cache
.vscode/
yarn-error.log
.DS_Store
.firebase
.well-known/
*.log
package-lock.json

.env*.local

.npmrc

test_files/

spmdb/

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
